NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
STOCKBIT_JWT_TOKEN=
CRON_SECRET=
GEMINI_API_KEY=
GEMINI_STORY_MODEL=gemini-3-flash-preview
GEMINI_STORY_THINKING_LEVEL=HIGH
# LLM_PROVIDER=gemini
# LLM_BASE_URL=
# LLM_API_KEY=
# LLM_MODEL=